.navbar {
	width: 100%;
	border-top: auto;
	display: block;
	font-size: 15px;
}

li a {
	color: #9B9CA3;
}

i {
	color: #9B9CA3;
	font-size: 35px;
}

.navbar img {
	width: 15%;
	margin-left: 0%;
	margin-right:100%
}

h2 {
	font-family:"Courier New";
	text-align: center;
}

.card {
	margin-left: 15%;
	margin-right: 15%;
}

footer {
	text-align: center;
	position: fluid;
	background-color: #9B9CA3;
}
